/* The form styles  */
/* form{ */
    /* text-align: center ; */
    /* padding: 20px;  */
    /* border: 1px solid #ccc; */
/* } */
.form_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}
.contact_form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form_group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 600;
    margin-bottom: 10px;
    color: white;
}


input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 0.9rem;
}

input:focus {
    border-color: #0070f3;
    box-shadow : 0 0 8px rgba(74 , 144 , 226 , 0.6) ; 
    background-color : #fff; 
}


.btn_send {
    background-color: #0070f3;
    color: white;
    border: none;
    font-size: 14px;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.btn_send:hover {
    background-color: #0059c9;
}

