/* The form styles  */
form{
    text-align: center ;
    padding: 20px; 
    border: 1px solid #ccc;
}

form input {
    width : 320px ; 
    border-radius : 5px ; 
    gap : 40px ; 
    margin-bottom : 15px ; 
    padding : 12px 18px; 
    border : 2px solid #ccc ;
    outline : none ; 
    transition : all 0.3s ease ; 
    font-size : 16px;
}

form input:focus {
    border-color : #4a90e2; 
    box-shadow : 0 0 8px rgba(74 , 144 , 226 , 0.6) ; 
    background-color : #fff; 
}

label {
    margin-left: -280px ;
    position : relative ; 
    bottom:10px;
    color: white;
}

.label_styles  {
      margin-left: -324px ;
}
.btn {
    width:360px ;
    border-radius:10px; 
    border:1px solid #ccc ;
    cursor :pointer ; 
    padding:10px;
    background:#34E4EA;
    transition : background 0.3s ; 
    color : white ;
    font-size: 20px ;
}

.btn:hover {
      background : #34EB9B; 
}